body {
  background-color: #ffffff;
  color: #000000;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.8em;
}

nav {
  background-color: rgba(0,0,0,.9);
  float: left;
  position: fixed;
  width: 100%;
}

p {
  padding: 20px 0 0 0;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 30px 0 0 0;
}

h3 {
  font-size: 24px;
  font-family: serif;
  font-style: italic;
  line-height: 1.3em;
  padding: 20px 0 0 0;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
  padding-top: 20px;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

.author {
  font-size: 15px;
  color: #777;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #999;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

figcaption {
  font-size: 14px;
  color: #777;
}

.container {
  margin: 0 auto;
  width: 50%;
}
